{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<h1>Bienvenido a CS2 Web</h1>
<h1>HOLA DESDE ACTIONS</h1>
<p>Explora tu inventario, analiza tus estadísticas y más.</p>
<div id="carousel-container" style="text-align: center; margin: 20px auto; width: 80%; max-width: 1000px;">
    <div id="carousel">
        <img src="/static/IMG/carousel/img1.jpg" alt="Imagen 1" style="display: block; width: 100%;">
        <img src="/static/IMG/carousel/img2.jpg" alt="Imagen 2" style="display: none; width: 100%;">
        <img src="/static/IMG/carousel/img3.png" alt="Imagen 3" style="display: none; width: 100%;">
    </div>
</div>

<script src="{{ url_for('static', path='js/carousel.js') }}"></script>
{% endblock %}